ADF/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetListofTables",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  tablename FROM [dbo].[statictableswithoutPK] WHERE IsRequired ='Y'"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListofTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListofTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Data2",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select * from @{item().tablename}"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": true
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerTable2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	}
}